New folder (2)/App_WebReferences/se/PortalServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smsportalservice.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://smsportalservice.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smsportalservice.com/">
      <s:element name="UpdateModifiedSMSLicenses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateModifiedSMSLicensesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateModifiedSMSLicensesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateModifiedSMSKioskLicenses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateModifiedSMSKioskLicensesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateModifiedSMSKioskLicensesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSMSUpdates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="countryID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSMSUpdatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSMSUpdatesResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateGroupsByUpdateID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="countryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="updateID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpdateGroupsByUpdateIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpdateGroupsByUpdateIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupStoresByGroupID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="countryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="updateID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupStoresByGroupIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupStoresByGroupIDResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableStores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="countryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="updateID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableStoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableStoresResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUpdateGroupStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="countryID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:annotation>
                  <s:appinfo>
                    <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                  </s:appinfo>
                </s:annotation>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUpdateGroupStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUpdateGroupStoreResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="countryID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="updateID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="groupID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGroupByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteGroupByIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateModifiedSMSLicensesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateModifiedSMSLicenses" />
  </wsdl:message>
  <wsdl:message name="UpdateModifiedSMSLicensesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateModifiedSMSLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateModifiedSMSKioskLicensesSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateModifiedSMSKioskLicenses" />
  </wsdl:message>
  <wsdl:message name="UpdateModifiedSMSKioskLicensesSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateModifiedSMSKioskLicensesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSMSUpdatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSMSUpdates" />
  </wsdl:message>
  <wsdl:message name="GetAllSMSUpdatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSMSUpdatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpdateGroupsByUpdateIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpdateGroupsByUpdateID" />
  </wsdl:message>
  <wsdl:message name="GetUpdateGroupsByUpdateIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpdateGroupsByUpdateIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupStoresByGroupIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupStoresByGroupID" />
  </wsdl:message>
  <wsdl:message name="GetGroupStoresByGroupIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupStoresByGroupIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableStoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableStores" />
  </wsdl:message>
  <wsdl:message name="GetAvailableStoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableStoresResponse" />
  </wsdl:message>
  <wsdl:message name="AddUpdateGroupStoreSoapIn">
    <wsdl:part name="parameters" element="tns:AddUpdateGroupStore" />
  </wsdl:message>
  <wsdl:message name="AddUpdateGroupStoreSoapOut">
    <wsdl:part name="parameters" element="tns:AddUpdateGroupStoreResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGroupByID" />
  </wsdl:message>
  <wsdl:message name="DeleteGroupByIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGroupByIDResponse" />
  </wsdl:message>
  <wsdl:portType name="PortalServicesSoap">
    <wsdl:operation name="UpdateModifiedSMSLicenses">
      <wsdl:input message="tns:UpdateModifiedSMSLicensesSoapIn" />
      <wsdl:output message="tns:UpdateModifiedSMSLicensesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateModifiedSMSKioskLicenses">
      <wsdl:input message="tns:UpdateModifiedSMSKioskLicensesSoapIn" />
      <wsdl:output message="tns:UpdateModifiedSMSKioskLicensesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSMSUpdates">
      <wsdl:input message="tns:GetAllSMSUpdatesSoapIn" />
      <wsdl:output message="tns:GetAllSMSUpdatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateGroupsByUpdateID">
      <wsdl:input message="tns:GetUpdateGroupsByUpdateIDSoapIn" />
      <wsdl:output message="tns:GetUpdateGroupsByUpdateIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupStoresByGroupID">
      <wsdl:input message="tns:GetGroupStoresByGroupIDSoapIn" />
      <wsdl:output message="tns:GetGroupStoresByGroupIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableStores">
      <wsdl:input message="tns:GetAvailableStoresSoapIn" />
      <wsdl:output message="tns:GetAvailableStoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUpdateGroupStore">
      <wsdl:input message="tns:AddUpdateGroupStoreSoapIn" />
      <wsdl:output message="tns:AddUpdateGroupStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByID">
      <wsdl:input message="tns:DeleteGroupByIDSoapIn" />
      <wsdl:output message="tns:DeleteGroupByIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PortalServicesSoap" type="tns:PortalServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateModifiedSMSLicenses">
      <soap:operation soapAction="http://smsportalservice.com/UpdateModifiedSMSLicenses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateModifiedSMSKioskLicenses">
      <soap:operation soapAction="http://smsportalservice.com/UpdateModifiedSMSKioskLicenses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSMSUpdates">
      <soap:operation soapAction="http://smsportalservice.com/GetAllSMSUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateGroupsByUpdateID">
      <soap:operation soapAction="http://smsportalservice.com/GetUpdateGroupsByUpdateID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupStoresByGroupID">
      <soap:operation soapAction="http://smsportalservice.com/GetGroupStoresByGroupID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableStores">
      <soap:operation soapAction="http://smsportalservice.com/GetAvailableStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUpdateGroupStore">
      <soap:operation soapAction="http://smsportalservice.com/AddUpdateGroupStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByID">
      <soap:operation soapAction="http://smsportalservice.com/DeleteGroupByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PortalServicesSoap12" type="tns:PortalServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateModifiedSMSLicenses">
      <soap12:operation soapAction="http://smsportalservice.com/UpdateModifiedSMSLicenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateModifiedSMSKioskLicenses">
      <soap12:operation soapAction="http://smsportalservice.com/UpdateModifiedSMSKioskLicenses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSMSUpdates">
      <soap12:operation soapAction="http://smsportalservice.com/GetAllSMSUpdates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateGroupsByUpdateID">
      <soap12:operation soapAction="http://smsportalservice.com/GetUpdateGroupsByUpdateID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupStoresByGroupID">
      <soap12:operation soapAction="http://smsportalservice.com/GetGroupStoresByGroupID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableStores">
      <soap12:operation soapAction="http://smsportalservice.com/GetAvailableStores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUpdateGroupStore">
      <soap12:operation soapAction="http://smsportalservice.com/AddUpdateGroupStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroupByID">
      <soap12:operation soapAction="http://smsportalservice.com/DeleteGroupByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortalServices">
    <wsdl:port name="PortalServicesSoap" binding="tns:PortalServicesSoap">
      <soap:address location="http://qa/SMSWebServices/PortalServices.asmx" />
    </wsdl:port>
    <wsdl:port name="PortalServicesSoap12" binding="tns:PortalServicesSoap12">
      <soap12:address location="http://qa/SMSWebServices/PortalServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>