New folder (2)/App_WebReferences/CommUploadFile/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://qa.fransupport.com/CreateCommDocuments/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="https://qa.fransupport.com/CreateCommDocuments/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://qa.fransupport.com/CreateCommDocuments/">
      <s:element name="CreateDocumentInAttachmentFolder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFileContents" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateDocumentInAttachmentFolderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateDocumentInAttachmentFolderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateDocumentInAttachmentFolderSoapIn">
    <wsdl:part name="parameters" element="tns:CreateDocumentInAttachmentFolder" />
  </wsdl:message>
  <wsdl:message name="CreateDocumentInAttachmentFolderSoapOut">
    <wsdl:part name="parameters" element="tns:CreateDocumentInAttachmentFolderResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CreateDocumentInAttachmentFolder">
      <wsdl:input message="tns:CreateDocumentInAttachmentFolderSoapIn" />
      <wsdl:output message="tns:CreateDocumentInAttachmentFolderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDocumentInAttachmentFolder">
      <soap:operation soapAction="https://qa.fransupport.com/CreateCommDocuments/CreateDocumentInAttachmentFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateDocumentInAttachmentFolder">
      <soap12:operation soapAction="https://qa.fransupport.com/CreateCommDocuments/CreateDocumentInAttachmentFolder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://qa.fransupport.com/webservices/CreateCommDocuments/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://qa.fransupport.com/webservices/CreateCommDocuments/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>