New folder (2)/App_WebReferences/NSContactService/NSContact.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="NS_AddContactUs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BestTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StateCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NS_AddContactUsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NS_AddContactUsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NS_AddContactUsSoapIn">
    <wsdl:part name="parameters" element="tns:NS_AddContactUs" />
  </wsdl:message>
  <wsdl:message name="NS_AddContactUsSoapOut">
    <wsdl:part name="parameters" element="tns:NS_AddContactUsResponse" />
  </wsdl:message>
  <wsdl:portType name="NSContactSoap">
    <wsdl:operation name="NS_AddContactUs">
      <wsdl:input message="tns:NS_AddContactUsSoapIn" />
      <wsdl:output message="tns:NS_AddContactUsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NSContactSoap" type="tns:NSContactSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NS_AddContactUs">
      <soap:operation soapAction="http://tempuri.org/NS_AddContactUs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NSContactSoap12" type="tns:NSContactSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NS_AddContactUs">
      <soap12:operation soapAction="http://tempuri.org/NS_AddContactUs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NSContact">
    <wsdl:port name="NSContactSoap" binding="tns:NSContactSoap">
      <soap:address location="http://local.portal.com/WebServices/NSContact.asmx" />
    </wsdl:port>
    <wsdl:port name="NSContactSoap12" binding="tns:NSContactSoap12">
      <soap12:address location="http://local.portal.com/WebServices/NSContact.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>